mat-tab-group {
    margin: auto;
    width: 50%;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
}

mat-form-field {
    width: 100%;
}

.auth-container {
    padding: 1rem;
}

.title {
    margin-left: 20px;
    margin-right: 20px;
    color: #3F51B5;
    margin-bottom: 16px;
    font-size: 24px;
}